<body style="background-color: wheat;"></body>
{% extends "pizzas/base.html" %}

{% block content %}

<p>Pizzeria</p>

Pizza: {{ pizza }}


<ul>
    {% for topping in toppings %}
    <li>

        <p>{{topping.date_added|date:"M d, Y H:i" }} </p>
        <p>{{topping.text | linebreaks }} </p>

    <li>

        {% empty %}
    <li> There are no more toppings for this pizza yet.</li>
    {% endfor %}

    {% for comment in comments %}
    <li>

        <p>{{comment.date_added|date:"M d, Y H:i" }} </p>
        <p>{{comment.text | linebreaks }} </p>
    <li>
        <p>
            <a href="{% url 'pizzas:edit_comment' comment.id %}">Edit comments</a>
        </p>
        {% empty %}


    <li> There are no comments for this pizza yet.</li>
    {% endfor %}
    <ul>
        <p>
            <a href="{% url 'pizzas:new_comment' pizza.id %}"> Add new comment</a>
        </p>



        {% endblock content %}