<body style="background-color: wheat;"></body>

{% extends "pizzas/base.html" %}

{% block content %}

<p>Pizzas</p>

<ul>
    {% for p in pizzas %}
    <li>
        <a href="{% url 'pizzas:pizza' p.id %}">{{ p }}</a>
    </li>
    {% empty %}
    <li> No pizzas have been added yet. </li>



    {% endfor %}

    <p>
        {% load static %} <img src="{% static 'pizzas/media/hp.jpg' %}" alt="Hawaiian" />
    </p>
    <p>
        {% load static %} <img src="{% static 'pizzas/media/ml.jpg' %}" alt="Meat Lovers" />
    </p>

</ul>




{% endblock content %}